APP_NAME=FastAPI Users API
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+asyncpg://fastapi_user:fastapi_password@127.0.0.1:5433/fastapi_db

JWT_SECRET_KEY=change_this_super_secret_key_in_production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

PASSWORD_MIN_LENGTH=8
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=30

DB_REQUIRED_ON_STARTUP=false

RATE_LIMIT_ENABLED=true
RATE_LIMIT_STORAGE_URI=redis://127.0.0.1:6379/0
RATE_LIMIT_REGISTER=5/hour
RATE_LIMIT_LOGIN=5/minute
RATE_LIMIT_FORGOT_PASSWORD=3/hour

BACKEND_CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:3000,http://127.0.0.1:5173

FERNET_SECRET_KEY=change_this_fernet_key
REPOSITORIES_BASE_PATH=./cloned_repositories