pytest
pytest-cov
pytest-asyncio
httpx
requests
fastapi
pydantic
sqlalchemy
asyncpg
python-dotenv
pandas
numpy
alembic
pydantic-settings
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
python-multipart
slowapi
redis
cryptography
tzdata